
body{
    background-image: "C:\Users\Lenovo\Desktop\WEBDEV\LearnDEV\slide1_9.jpg";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
P{
    font-size:large;
    font-weight:900 ;
    color:rgb(236, 225, 225);
}
h2{
    color:red;
}
h3{
    text-align: center;
}